@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4648d4;
  --color-primary-hover: #3b3dbb;
  --color-primary-light: #6063ee;
  
  --color-surface: #fcf9f8;
  --color-surface-bright: #fcf9f8;
  --color-surface-dim: #dcd9d9;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae7e7;
  --color-surface-container-highest: #e5e2e1;
  
  --color-on-surface: #1c1b1b;
  --color-on-surface-variant: #464554;
  
  --color-background: #fcf9f8;
  --color-on-background: #1c1b1b;
  
  --color-outline: #767586;
  --color-outline-variant: #c7c4d7;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --font-display: "Outfit", "Inter", sans-serif;
  --font-sans: "Inter", "Outfit", sans-serif;
  
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
